@model Person


<div class="row" id="@("Person" + Model.Id)">

    <div class="col-4"><input id="@("name" + Model.Id)" type="text" name="name" value="@Model.Name" /></div>
    <div class="col-3"><input id="@("phone" + Model.Id)" type="text" name="phone" value="@Model.Phone" /></div>
    <div class="col-3"><input id="@("city" + Model.Id)" type="text" name="city" value="@Model.City" /></div>
    <div class="col-2">
        <button class="btn btn-success btn-sm"
                onclick="SaveEditItem('@("Person" + Model.Id)','@(Model.Id)','@Url.Action("ConfirmEdit","People")')">
            Save1

        </button>
    </div>

 
</div>










@*<form asp-controller="People" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" clas="text-info"></div>
        <div class="form-gruop">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" form-control" />
            <label asp-for="City" class="Control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="Name" class="text-info"></span>
            <span asp-validation-for="Phone" class="text-info"></span>
            <span asp-validation-for="City" class="text-info"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-Success" />
        </div>
    </form>*@
