@model Person


<div class="row" id="@("Person" + Model.Id)">

    <div class="col-4">@Model.Name</div>
    <div class="col-3">@Model.Phone</div>
    <div class="col-2">@Model.City</div>
    <div class="col-3">
        <button class="btn btn-success btn-sm"
                onclick="EditListItem('@("Person" + Model.Id)','@Url.Action("Edit","People",new { id = Model.Id })')">
            Edit
        </button>
        <button class="btn btn-danger btn-sm"
                onclick="DeleteItem('@("Person" + Model.Id)','@Url.Action("Delete","People",new { id = Model.Id })')">
            Delete
          
        </button>
    </div>

</div>


@*<a id="delete" class="btn btn-danger btn-sm" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>*@
@*<a id="update" class="btn btn-success btn-sm" asp-controller="People" asp-action="edit" asp-route-id="@Model.Id">Edit</a>*@

@*<input type="submit" value="Create" class="btn btn-Success" />*@


