@model Person


    <div class="row" id="@("Person" + Model.Id)">
      
        <div class="col-1" >@Model.Name</div>
        <div class="col-3">@Model.Phone</div>
        <div class="col-3">@Model.City</div>
        <div class="col-2">
        <a id="delete" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id"><button type="button" class="btn btn-danger">Delete</button></a>
        </div>

    </div>

